In [6]:
import pandas as pd
from ranker import ColleyRanker, MasseyRanker, RankingOptions
from data import get_data, get_teams

In [7]:
data = get_data()
teams = get_teams()

In [8]:
massey = MasseyRanker(data, teams, RankingOptions())
massey.process()

    rank           team     rating
0      1        Alabama  24.175174
1      2        Houston  23.652229
2      3           UCLA   22.91074
3      4      Tennessee  22.266982
4      5          Texas  21.651897
..   ...            ...        ...
358  359  MS Valley St. -17.460148
359  360          IUPUI -18.380363
360  361   WI Green Bay -19.765103
361  362       Hartford -22.997518
362  363   LIU Brooklyn  -24.55339

[363 rows x 3 columns]

In [9]:
massey.matrix()

AttributeError: 'MasseyRanker' object has no attribute 'matrix'

In [ ]:
colley = ColleyRanker(data, teams, RankingOptions())
colley.process()

In [10]:
data.team_name.unique()

AttributeError: 'DataFrame' object has no attribute 'team_name'

In [11]:
massey_results = massey.process()

In [13]:
massey_results[massey_results.team == "Texas A&M-CC"]

Empty DataFrame
Columns: [rank, team, rating]
Index: []

In [16]:
massey.teams[massey.teams.team_name == "Texas A&M-CC"]

Empty DataFrame
Columns: [team_id, team_name, raw_team_name]
Index: []

In [17]:
print(massey.teams)

     team_id       team_name   raw_team_name
0          1     Abilene Chr     Abilene_Chr
1          2       Air Force       Air_Force
2          3           Akron           Akron
3          4         Alabama         Alabama
4          5     Alabama A&M     Alabama_A&M
..       ...             ...             ...
358      359      Wright St.       Wright_St
359      360         Wyoming         Wyoming
360      361          Xavier          Xavier
361      362            Yale            Yale
362      363  Youngstown St.   Youngstown_St

[363 rows x 3 columns]